form{
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.form-group_{
    display: flex;
    justify-content:space-between;
}
.cardDetails{
   
    width: calc(100% - 50px);
    margin-left: 15px;
    display: flex;
    bottom: 5px;
}

.form-input{
    width: 100%;
    padding: 10px 0px 10px 0px;
    border-radius: 8px;
    border: 1px solid rgb(86, 85, 85);
   
}

.form-select{
    width: 100%;
    padding: 10px 0px 10px 0px;
    border-radius: 8px;
    border: 1px solid rgb(86, 85, 85);
    font-family: monospace;
}

.form-button{
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    background-color: black;
    color:whitesmoke;
    cursor: pointer;
}




