form{
    
    margin-left: 20px;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.form-group_{
    display: flex;
    justify-content:space-between;
}
.cardDetails{
    font-size: 12px;
    font-family: monospace;
    margin: 1px;
    color: rgba(60, 57, 57, 0.711);
}

.form-input{
    width: 100%;
    padding: 10px 0px 10px 0px;
    border-radius: 8px;
    border: 1px solid rgb(86, 85, 85);
   
}

.form-select{
    width: 100%;
    padding: 10px 0px 10px 0px;
    border-radius: 8px;
    border: 1px solid rgb(86, 85, 85);
    font-family: monospace;
}



button {
    padding: 15px 145px;
  
    border-radius: 8px;
    background-color:black;
    color: white;
    cursor: pointer;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
& h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
}



