
.shape {
    max-width: 350px;
    width: 100%;
    height: 180px; 
    border: 1px solid #ccc;
    border-radius: 28px;
    padding: 25px; 
    position: relative;
   
    
}

.name-number{
    font-family: Arial, sans-serif;
    margin: auto;
}
.card-details{
    font-family: Arial, sans-serif;
   
}
.shape .card-details{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 5px;
    width: calc(100% - 50px);
    margin-left: 15px;
    
   
}

.shape .valid-date{
    font-family: Arial, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}
.shape .card-details .valid-date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.valid-date h6, .valid-date h5 {
    margin: 0;
}
.logo{
    position: absolute;
    left: 10px; 
    bottom: 130px;
    height: 120px;
}